*{
    margin: 0px;
    padding: 0px;
    max-width: 1200p;
  }
  .caja-1{
    background: #666097;
    height: 100px;
    width: 1200px;
    box-sizing: border-box;
    border: 20px solid black;
    border-bottom-width: 5px; 
    margin: 20px 20px 0px 20px;
  }
  .p{
    display:inline-flex;
    background: rgb(237, 74, 49);
    height: 30px;
    margin: 25px 25px ;
    border: 15px;
    box-sizing: border-box;
  
  }
  .caja-11{
    width: 245px;
    margin-right: 10px;
    margin-left: 20px;
  }
  .caja-12{
    width: 587px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .caja-13{
    width: 245px;
    margin-left: 10px;
  }
  .caja-2{
    background: #ea7522;
    height: 100px;
    width: 1200px;
    box-sizing: border-box;
    border: 20px solid black;
    border-top-width: 5px; 
    border-bottom-width: 20px; 
    margin: 0px 20px 20px 20px;
  }
  .caja-21{
    margin: 20px 25px 20px 20px;
    background: yellow;
    height: 30px;
    width: 1115px;
    border-right-width: 25px;
    border-left-width: 25px;
  }
  .q{ 
    display:inline-flex;
  }
  .caja-3{
    background: #666097;
    width: 800px;
    height: 200px;
    margin: 20px;
    border: 20px solid black;
    border-right-width: 10px;
    margin-right: 0px;
    margin-top: 0px;
    box-sizing: border-box;
   }
  .u{
    display:inline-flex;
    background: rgb(68 , 26, 205);
    width: 350px;
    margin: 20px 10px 5px 20px;
    height: 30px;
  }
  .r{
    display:inline-flex;
    background: rgb(68, 26, 205);
    width: 350px;
    margin: 20px 20px 5px 10px;
    height: 30px;
  }
  .m{
    margin-top: 10px;
  }
  .caja-35{
    margin: 10px 10px 20px 20px;
    background: rgb(116, 209, 231);
    width: 725px;
    height: 30px;
  }
  .caja-4{
    box-sizing: border-box;
    background: rgb(253, 92, 74);
    width: 400px;
    height: 200px;
    margin-left: 0px;
    border: 20px solid black;
    margin-top: 0px;
    border-left-width: 10px;
  }
  .b{
    background: rgb(241, 222, 135);
    margin: 20px 25px 10px 20px;
    height: 30px;
  }
  .caja-42{
    margin-top: 10px;
  }
  .caja-5{
    box-sizing: border-box;
    width: 1200px;
    margin-left: 20px;
    height: 70px;
    border: 20px solid black;
    background: rgb(214, 201, 13);
  }
  /* tableta */
  @media (min-width: 768px) and (max-width: 1024px){
    
    .caja-1{
       width: 1024px;
       box-sizing: border-box;
       
    }
    .p{
      width: 17%;
    }
    .caja-13{
      width: 170px;
    }
    .o {
      width: 57%;
    }
    .u{
      width: 46%;
      margin-left: 25px;
    }
    .r{
      width: 46%;
      margin-right: 25px;
    }
    .caja-2{
       width: 1024px;
       box-sizing: border-box;
       
    }
    .caja-21{
       width: 935gitpx;
       box-sizing: border-box;
    }
    .caja-3{
        
        width: 1024px;
        box-sizing: border-box;
        border: 20px solid rgb(244, 248, 3);
        margin-bottom: 0px;
        border-bottom: 10px;  
    }
    .caja-35{
      width: 930px;
      margin-left: 25px;
    }
    .caja-4{

        border: 20px solid rgb(244,248,3);
        width: 1024px; 
        box-sizing: border-box;
        margin-top: 0px;
        margin-left: 20px;
    }
    .q{
        display: block;
        width:max-content;
    }
    .caja-5{
        box-sizing: border-box;
        width: 1024px;
        margin-top: 20px;
    }
    .b{
      margin-left: 25px;
    }
  }
  
  @media screen and (max-width: 767px) {
      #principal{
       width: 767px;
      } 
      .caja-1{
        width: 767px;
         box-sizing: border-box;
         height: 540px;
         border: 60px solid black;
         display: -webkit-flex;
         display: -ms-flex;
         display: flex;
         -webkit-flex-flow: row wrap;
         flex-flow: row wrap;
         padding-top: 80px;
         
         
      }
      .caja-2{
         width: 767px;
         border: 60px solid black;
         box-sizing: border-box;
         height: 220px;
         border-top: 0px;
         margin-top: 0px;
         margin-bottom: 60px;
         padding-top: 40px;
         
       }
      .caja-21{
        width: 487px;
        height: 60px;
        display: block;
        box-sizing: border-box;
        margin: 0px 80px 40px 80px;
    
      }
      .p{
        width: 500px;
        height: 60px;
        display: block;
        box-sizing: border-box;
        margin: 0px 80px 40px 80px;
        -webkit-align-content: center;
        align-content: center;
        
    
      }
      .caja-13{
        margin-bottom: 80px ;
      }
      .q{
        display: block;
      }
      .caja-3{
        width: 767px;
        box-sizing: border-box;
        height: 780px;
        border: 60px solid rgb(254, 246, 5);
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        padding-top: 60px;
        margin-bottom: 0;
      }
      .u,
      .r,
      .caja-35{
        display:block;
        width: 500px;
        height: 60px;
        display: block;
        box-sizing: border-box;
        margin: 0px 80px 40px 80px;
        -webkit-align-content: center;
        align-content: center;
      }
      .caja-4{
        width: 767px;
        box-sizing: border-box;
        height: 330px;
        border: 60px  solid rgb(254, 246, 5);
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        padding-top: 60px;
        margin-left: 20px;
        border-top: 0px;
        margin-bottom: 60px;
      }
      .b{
        width: 487px;
        height: 60px;
        display: block;
        box-sizing: border-box;
       -webkit-align-content: center;
        align-content: center;
        margin: 0px 80px 60px 80px;
        padding-top: 0;
      }
      .caja-41{
        margin-bottom: 30px;
      }
      .caja-5{
        width: 767px;
        box-sizing: border-box;
        height: 180px;
        border: 60px solid black;
      }
  }