*{
    margin: 0px;
    padding: 0px;
    max-width: 1200p;
  }
  .caja-1{
    background: #666097;
    height: 100px;
    width: 1200px;
    box-sizing: border-box;
    /* padding: 20px solido red; */
    border: 20px solid black;
    border-bottom-width: 5px; 
    margin: 20px 20px 0px 20px;
  }
  .p{
    display:inline-flex;
    background: rgb(237, 74, 49);
    height: 30px;
    /* width: 387px; */
    margin: 25px 25px ;
    border: 15px;
  
  }
  .caja-11{
    width: 245px;
    margin-right: 10px;
  }
  .caja-12{
    width: 582px;
    margin-right: 5px;
    margin-left: 5px;
  }
  .caja-13{
    width: 245px;
    margin-left: 10px;
  }
  .caja-2{
    background: #ea7522;
    height: 100px;
    width: 1200px;
    box-sizing: border-box;
    border: 20px solid black;
    border-top-width: 5px; 
    border-bottom-width: 20px; 
    margin: 0px 20px 20px 20px;
  }
      
  
  .caja-21{
    margin: 20px 25px 20px 25px;
    background: yellow;
    height: 30px;
    width: 1110px;
    border-right-width: 25px;
    border-left-width: 25px;
  }
  .q{ 
    display:inline-flex;
  }
  .u{
    display:inline-flex;
    background: rgb(68 , 26, 205);
    width: 353px;
    margin: 20px 10px 10px 20px;
    height: 30px;
    /*border-left-width: 10px;*/
  }
  .r{
    display:inline-flex;
    background: rgb(68, 26, 205);
    width: 353px;
    margin: 20px 20px 10px 10px;
    height: 30px;
    /* border-left-width: 10px; */
  }
  
  .caja-3{
    background: #666097;
    width: 770px;
    height: 180px;
    margin: 20px;
    border: 20px solid black;
    border-right-width: 10px;
    margin-right: 0px;
    margin-top: 0px;
  }
  .m{
    margin-top: 10px;
  }
  .caja-35{
    margin: 10px 10px 20px 20px;
    background: rgb(116, 209, 231);
    width: 730px;
    height: 30px;
  }
  .caja-4{
    background: rgb(253, 92, 74);
    width: 370px;
    height: 180px;
    margin-left: 0px;
    border: 20px solid black;
    margin-top: 0px;
    border-left-width: 10px;
  }
  .b{
    background: rgb(241, 222, 135);
    margin: 20px 20px 10px 20px;
    height: 30px;
  }
  .caja-42{
    margin-top: 10px;
  }
  .caja-5{
    width: 1160px;
    margin-left: 20px;
    height: 30px;
    border: 20px solid black;
    background: rgb(240, 229, 69);
  }